<!DOCTYPE html>
<html>
<head>
<title>Busca de Editors/Journals predatórios</title>
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">

</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">Busca de Editors/Journals <strong>predatórios</strong></a>
        </div>
    </div>
    <div id="main" class="container">
        <table class="table table-striped">
            <tr><td style="width: 1px;"></td><td><b>Artigos</b></tr>
            <!-- foreach: artigos -->
            <tr>
                <td>
                    <span  class="label"> 01</span>
                </td>
                <td>
                <p><strong>nome do artigo</strong></p>
                <p>
                    <span>Editorial: </span> <span>Nome do editorial</span> </br><span  class="label label-success"> Ok</span>
                </p>
                <p>
                    <span>Revista: </span> <span>Nome da revista</span></br><span  class="label label-important">Atenção</span>
                </p>
               
                </td>
 
            </tr>
            <!-- /foreach: artigos -->





        </table>



 

                    <div class="container">
                        <div class="col-xs-12 col-md-6 col-lg-1">
                            <h1>Testar bibliografia</h1>
                            <form>
                                <div class="form-group">
                                    <textarea style="width: 90%;height:200px;" class="form-control" placeholder="Cole sua referência em formato bib"></textarea>
                                </div>
                            </form>
                               <button type = "Verificar" class = "btn btn-default">Enviar</button>

                        </div><!-- /contact -->
                        
                    </div><!-- /cointainer -->








</div>

    </div>



</body>
</html>
